main {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #61876E;
}
.Parent {
  display: flex;
  width: 100%;
  margin-bottom: 2%;
  justify-content: center;
}

.enfant2 {
  width: 50%;
  justify-content: center;
}
