html, body {
    display: flex;
    justify-content: center;
    font-family: Roboto, Arial, sans-serif;
    font-size: 20px;
    margin-top: 4%;
    }
    form {
        width: 100%;
        background-color: #FFF8EA;
        border: 2px solid #9E7676 ;
        border-radius: 20px;     
    }
    input{
        width: 80%;
        padding: 8px 8px;
        margin-top: 5%;
        margin-left: 10%;
        margin-right: 10%;
        display: inline-block;
        border: 2px solid #9E7676;
        border-radius: 10px;
        box-sizing: border-box;
        color: #594545;
        outline: none;
        }
        
    button {
        background-color: #9E7676;
        color: white;
        padding: 14px 0;
        margin-top: 5%;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 5%;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        width: 80%;
        }
            button:hover {
            opacity: 0.8;
            border-radius: 20px;
            }

    h3 {
            color: #594545;
            margin-left: 10%;
            margin-right: 10%;

        }
    hr{
        border: 2px solid #9E7676;
    }