.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a6bb8d;
  height: 30px;
  padding: 15px;
  color: white;
  border-radius: 0px 0px 20px 20px;
}
.menu .buttonAj {
  display: flex;
  gap: 5px;
}
.menu .buttonAj button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
  margin: 0%;
}

.menu .buttonAj button:hover {
  background-color: #3c6255;
  border-radius: 30px;
}
