form {
  width: 100%;
  border: 2px solid #c7e8ca;
  border-radius: 10px;
  background-color: #3C6255;
  margin-left: 10%;
}

input,
textarea,
select {
  width: 80%;
  padding: 8px 8px;
  margin-top: 1%;
  margin-left: 10%;
  margin-right: 10%;
  display: inline-block;
  border: 2px solid #c7e8ca;
  border-radius: 10px;
  box-sizing: border-box;
  /* color: #40513b; */
  outline: none;
  height: 40px;
}
input::placeholder {
  color: #61876E;
}
textarea::placeholder {
  color: #61876E;
}
option {
  color: #61876E;
}

button {
  background-color: #A6BB8D;
  padding: 14px 0;
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 80%;
  border-radius: 30px;
  height: 40px;
}
button:hover {
  opacity: 0.8;
  background-color: #EAE7B1;
}

