form {
  width: 100%;
  border: 2px solid #c7e8ca;
  border-radius: 10px;
  background-color: #3c6255;
  margin-top: 5%;
  padding: 3%;
}

input,
textarea,
select {
  width: 80%;
  padding: 8px 8px;
  margin-top: 1%;
  margin-left: 10%;
  margin-right: 10%;
  display: inline-block;
  border: 2px solid #c7e8ca;
  border-radius: 10px;
  box-sizing: border-box;
  /* color: #40513b; */
  outline: none;
  height: 40px;
}
input::placeholder {
  color: #61876e;
}
textarea::placeholder {
  color: #61876e;
}
option {
  color: #61876e;
}

/* button */
.BtnValidation {
  width: 80%;
  display: flex;
  margin: 2%;
}
.BtnValidation button {
  background-color: #c7e8ca;
  margin-left: 12%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 50%;
  border-radius: 30px;
  border: 2px solid #c7e8ca;
}
.BtnValidation button:hover {
  color: #3c6255;
}
